FIREBASE_PROJECT_ID=firebase-project-id
STORAGE_ROOT=./storage
DATABASE_PATH=./data/virtual_desktop.db
CORS_ALLOW_ORIGINS=http://localhost:5000
FIREBASE_CREDENTIALS_PATH=./firebase-service-account.json