# ============================================
# Python
# ============================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# ============================================
# Environment
# ============================================

.env
!.env.*

# ============================================
# VS Code
# ============================================

.vscode/

# ============================================
# Database
# ============================================

data/*
*.db
*.sqlite
*.sqlite3
!data/.gitkeep

# ============================================
# File Storage
# ============================================

storage/*
!storage/.gitkeep

# ============================================
# Logs
# ============================================

*.log

# ============================================
# Test / Coverage
# ============================================

.pytest_cache/
.coverage
htmlcov/

# ============================================
# OS Files
# ============================================

.DS_Store
Thumbs.db


firebase-service-account.json